.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

.gs.R
notes.txt
render.R

data/*
!data/README.md

gis/
poster/
manuscript/**/*.pdf
manuscript/**/.trackdown/
manuscript/appendix/
manuscript/trs.tex

*.csl
